.home {
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    width: 65%;
    height: 80%;
    display: flex;
}

.chat-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.chat-header {
    background-color: #1a73e8;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

.messages {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
}

.message {
    display: flex;
    margin-bottom: 10px;
}

.bot-message {
    justify-content: flex-start;
}

.user-message {
    justify-content: flex-end;
}

.message p {
    background-color: #1a73e8;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
}

.message-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f5f5f5;
}

.message-form input {
    flex: 1;
    height: 60px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.message-form button {
    height: 50px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #1a73e8;
    color: #fff;
    cursor: pointer;
}